<app-header pageTitle="Login" helpTitle="Enter your credentials in appropriate input fields."></app-header>
<mat-card>
    <!-- <mat-card-header>
      <mat-card-title>
        <mat-icon>dashboard</mat-icon>E-shop</mat-card-title>
      <mat-card-subtitle>Please enter valid credentials.</mat-card-subtitle>
    </mat-card-header> -->
    
    <div *ngIf="userLoggedIn; else showShopping">
        You have already logged in. <button type="button" routerLink="/products" mat-raised-button color="primary"><p style="color: white;"><i> Continue to products</i></p></button>
    </div>
    <ng-template #showShopping>
      <mat-card-content>
        <mat-divider></mat-divider>
        <form #formData="ngForm" (ngSubmit)="login(formData)" class="example-form">
          <mat-card-actions *ngIf="errorMessage">
            <mat-error>Login credentials are not verified.</mat-error>
          </mat-card-actions>
          <mat-error *ngIf="dataLoading">
            <mat-progress-spinner mode="indeterminate" [attr.color]="primary" [value]="15"></mat-progress-spinner>
          </mat-error>
          <mat-error *ngIf="brokenNetwork" class="label-error">Network Connection Error.</mat-error>
          <mat-card-actions align="start">
            <button type="submit" [disabled]="!formData.valid" mat-raised-button color="primary">Log in</button>
            <!--<button type="button" routerLink="/shopping" mat-raised-button color="primary">Browse as Guest</button>-->
          </mat-card-actions>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="email" name="email" #email="ngModel" ngModel required email>
          </mat-form-field><br>

          <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">Please enter a valid email.</mat-error>
          <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="app password" name="password" #password="ngModel" ngModel required minlength="5"
              maxlength="30">
          </mat-form-field>
          <span *ngIf="password.invalid && (password.dirty || password.touched)">
            <mat-error *ngIf="password.errors['required']">Password is Required.</mat-error>
            <mat-error *ngIf="password.errors['minlength']">Password can't be less than 5 characters.</mat-error>
            <mat-error *ngIf="password.errors['maxlength']">Password can't be more than 30 characters.</mat-error>
          </span>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <mat-divider></mat-divider>
        <button mat-button routerLink="/register">
          No account?
          <strong>Create one with your email here</strong>
        </button>
      </mat-card-actions>
    </ng-template>
  </mat-card>
