<mat-toolbar>
    <button mat-mini-fab color="warn" [matMenuTriggerFor]="navMenu">
        <mat-icon>dashboard</mat-icon>
    </button>
    <mat-menu #navMenu="matMenu">
        
            <button mat-menu-item><mat-icon svgIcon="facebook">fb</mat-icon>Link to fb page</button>
            <button mat-menu-item><mat-icon svgIcon="github">git</mat-icon> Link to github page</button>
            <!-- <button mat-menu-item routerLink="/about-us">about us</button> -->
            <button mat-menu-item routerLink="/admin" *ngIf="adminLoggedIn">Admin area</button>
    </mat-menu>
    <span class="example-icon"></span>
    <mat-icon routerLink="/about-us">home</mat-icon>
    <span class="example-icon"></span>
    {{pageTitle}}
    <span class="example-spacer"></span>
    <mat-icon [color]="userStatusColor" routerLink="/products">shop</mat-icon>
    
    <span class="example-icon"></span>
    
    <mat-icon [color]="userStatusColor" routerLink="/user-profile-settings" *ngIf="userLoggedIn">account_box</mat-icon>
    <span class="example-icon"></span>
    <mat-icon matBadge="{{counter}}" matBadgePosition="before" matBadgeColor="accent" routerLink="/cart">shopping_cart</mat-icon>
    <span class="example-icon"></span>
    <mat-icon [matMenuTriggerFor]="helpMenu">help</mat-icon>
    <span class="example-icon"></span>
    <!-- <mat-icon>settings</mat-icon>
    <span class="example-icon"></span> -->
    <button mat-raised-button color="warn" *ngIf="userLoggedIn" (click)="logout()">Logout</button>
    <button mat-raised-button color="primary" *ngIf="!userLoggedIn" (click)="goToLogin()">Login</button>
    <mat-menu #helpMenu="matMenu">
        INFO: 
        {{helpTitle}}
    </mat-menu>
    
</mat-toolbar> 


