<app-header pageTitle="About us"></app-header>
<!--<mat-card [@fallIn]='state'>
    <mat-card-title>
        O nama page title
    </mat-card-title>
    <mat-card-content>
        <button routerLink="/settings">Settings</button>
        
        <br/>
        <p>o nama works!</p>
    </mat-card-content>
    </mat-card> -->
<mat-tab-group>
            <mat-tab label="First"> Content 1 </mat-tab>
            <mat-tab label="Second"> Content 2 </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>
